.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    height: 112px;
    font-size: 14px;
    color: white;
    padding: 0 20px;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .navLinks {
    display: flex;
    align-items: center;
  }
  
  .navLinks > *:not(:last-child) {
    margin-right: 24px;
  }
  
  .userName {
    font-weight: bold;
  }
  